<style>
    input[type=text], input[type=password] {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        /*padding-top: 60px;*/
    }

    .modal-content {
        background-color: #fefefe;
        /*margin: 5% auto 15% auto;*/ 
        border: 2px solid #888;
        width: 50%; 
    }

    .close {
        position: absolute;
        right: 15px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)}
        to {-webkit-transform: scale(1)}
    }

    @keyframes animatezoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }
</style>

<div id="LOGIN" class="modal" style="padding-left: 50px;" >
    <form class="modal-content animate container" >
        <div class="imgcontainer">
            <span ng-click="login.close();" class="close" title="Close Modal">&times;</span>
            <img src="Images/Ang.png" alt="Avatar" class="avatar">
        </div>
        <div class="row">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" required ng-model="login.usName">
            <br><label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" required ng-model="login.usPass">
            <button ng-click="login.verify()" >Login</button>
            <input type="checkbox" checked="checked" ng-model="login.remember"> Remember me
        </div>
    </form>
</div>